<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{blog/layui/css/layui.css}" />
    <script type="text/javascript" th:src="@{blog/MySign_in/js/jquery-3.1.1.js}"></script>
    <script type="text/javascript" th:src="@{blog/layui/layui.js}"></script>
</head>
<body>
<div class="demoTable">
    搜索ID：
    <div class="layui-inline">
        <input class="layui-input" name="id" id="demoReload" autocomplete="off">
    </div>
    <button class="layui-btn" data-type="reload">搜索</button>
</div>
</body>
</html>