<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>后端管理系统</title>
    <link rel="stylesheet" th:href="@{blog/layui/css/layui.css}" />
    <script type="text/javascript" th:src="@{blog/MySign_in/js/jquery-3.1.1.js}"></script>
    <script type="text/javascript" th:src="@{blog/layui/layui.js}"></script>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">博客后台管理系统</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="">博客后台</a></li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;" th:text=" ${session.m_user}">
                    <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">基本资料</a></dd>
                    <dd><a href="">安全设置</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="quit_manager">退了</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree"  lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">文章管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">删除文章</a></dd>
                        <dd><a href="javascript:;">增加文章</a></dd>
                        <dd><a href="javascript:;">更改文章</a></dd>
                        <dd><a href="javascript:;">查询文章</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">用户信息</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">更改用户权限</a></dd>
                        <dd><a href="javascript:;">查询用户信息</a></dd>
                        <dd><a href="javascript:;">删除用户信息</a></dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>

    <div class="layui-body">
        <div class="demoTable">
            搜索ID：
            <div class="layui-inline">
                <input class="layui-input" name="id" id="demoReload" autocomplete="off">
            </div>
            <button class="layui-btn" data-type="reload">搜索</button>
        </div>
        <table class="layui-table" id="layui_table_id" lay-filter="test">
        </table>
        <script type="text/html" id="barDemo">
            <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
            <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
            <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
        </script>
    </div>
    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © layui.com - 底部固定区域
    </div>
</div>
<script th:inline="javascript">
    layui.use(['element'], function(){
        var element = layui.element;
    })
        layui.use(['element','table','laypage'], function(){
            var table = layui.table;
            table.render({
                elem: '#layui_table_id'
                ,height: 312
                ,limit:5
                ,id: 'testReload'
                ,url: 'table_Data'
                ,page: true
                ,cols: [[
                    {type:'checkbox',fixed: 'left'}
                    ,{field: 'e_id', title: 'ID', width:80, sort: true, fixed: 'left'}
                    ,{field: 'e_name', title: '用户名', width:80}
                    ,{field: 'e_time', title: '时间', width:80, sort: true}
                    ,{field: 'e_tit', title: '标题', width:80}
                    ,{field: 'e_img', title: '图片', width:177}
                    // ,{field: 'e_type', title: '类型', width:177, sort: true}
                    ,{field: 'e_type', title: '类型', width: 80, sort: true}
                    ,{fixed: 'right', width:178, align:'center', toolbar: '#barDemo'}
                ]]
            });
            table.on('tool(test)', function(obj){
                var data = obj.data;
                if(obj.event === 'detail'){
                    layer.msg('ID：'+ data.e_id + ' 的查看操作');
                } else if(obj.event === 'del'){
                    layer.confirm('真的删除行么', function(index){
                        obj.del();
                        layer.close(index);
                    });
                } else if(obj.event === 'edit'){
                    layer.alert('编辑行：<br>'+ JSON.stringify(data))
                }
            });
            var $ = layui.$, active = {
                reload: function(){
                    var demoReload = $('#demoReload');
                    //执行重载
                    table.reload('testReload', {
                        page: {
                            curr: 1 //重新从第 1 页开始
                        }
                        ,where: {
                            key: {
                                id: demoReload.val()
                            }
                        }
                    }, 'data');
                }
            };
            $('.demoTable .layui-btn').on('click', function(){
                var type = $(this).data('type');
                active[type] ? active[type].call(this) : '';
            });
        });
</script>
</body>
</html>