<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>后端管理系统</title>
    <link rel="stylesheet" th:href="@{blog/layui/css/layui.css}" />
    <script type="text/javascript" th:src="@{blog/MySign_in/js/jquery-3.1.1.js}"></script>
    <script type="text/javascript" th:src="@{blog/layui/layui.js}"></script>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">博客后台管理系统</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="">博客后台</a></li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;" th:text=" ${session.m_user}">
                    <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">基本资料</a></dd>
                    <dd><a href="">安全设置</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="quit_manager">退了</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree"  lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">文章管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">删除文章</a></dd>
                        <dd><a href="javascript:;">增加文章</a></dd>
                        <dd><a href="javascript:;">更改文章</a></dd>
                        <dd><a href="javascript:;">查询文章</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">用户信息</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">更改用户权限</a></dd>
                        <dd><a href="javascript:;">查询用户信息</a></dd>
                        <dd><a href="javascript:;">删除用户信息</a></dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>

    <div class="layui-body" th:fragment="Alltable">
        <div class="demoTable">
            搜索ID：
            <div class="layui-inline">
                <input class="layui-input" name="id" id="demoReload" autocomplete="off">
            </div>
            <button class="layui-btn" data-type="reload">搜索</button>
        </div>
        <table class="layui-table" id="layui_table_id" lay-filter="test">
        </table>
        <script type="text/html" id="barDemo">
            <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
            <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
        </script>
        <script type="text/html" id="toolbarDemo">
            <div class="layui-btn-container">
                <button class="layui-btn layui-btn-sm" lay-event="getCheckData">删除选中</button>
                <button class="layui-btn layui-btn-sm" lay-event="getCheckLength">添加文章</button>
            </div>
        </script>
    </div>
<!--    <div class="tableout" style="width: 500px">-->
<!--        <form class="layui-form" action="" lay-filter="example">-->
<!--            <div class="layui-form-item">-->
<!--                <div class="layui-inline">-->
<!--                    <label class="layui-form-label">用户名</label>-->
<!--                    <div class="layui-input-inline">-->
<!--                        <input type="tel" name="phone" lay-verify="required|phone" autocomplete="off" class="layui-input">-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="layui-form-item">-->
<!--                <div class="layui-inline">-->
<!--                    <label class="layui-form-label">时间</label>-->
<!--                    <div class="layui-input-inline">-->
<!--                        <input type="text" name="date" id="date" lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="layui-form-item">-->
<!--                <div class="layui-inline">-->
<!--                    <label class="layui-form-label">标题</label>-->
<!--                    <div class="layui-input-inline">-->
<!--                        <input type="tel" name="phone" lay-verify="required|phone" autocomplete="off" class="layui-input">-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="layui-form-item">-->
<!--                <div class="layui-inline">-->
<!--                    <label class="layui-form-label">图片</label>-->
<!--                    <div class="layui-input-inline">-->
<!--                        <input type="tel" name="phone" lay-verify="required|phone" autocomplete="off" class="layui-input">-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="layui-form-item">-->
<!--                <div class="layui-inline">-->
<!--                    <label class="layui-form-label">搜索选择框</label>-->
<!--                    <div class="layui-input-inline">-->
<!--                        <select name="modules" lay-verify="required" lay-search="">-->
<!--                            <option value="">直接选择或搜索选择</option>-->
<!--                            <option value="1">Spring</option>-->
<!--                            <option value="2">Springboot</option>-->
<!--                            <option value="3">java</option>-->
<!--                            <option value="4">c++</option>-->
<!--                            <option value="5">Springcloud</option>-->
<!--                        </select>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="layui-form-item">-->
<!--                <button class="layui-btn" lay-submit="" lay-filter="demo2">跳转式提交</button>-->
<!--            </div>-->
<!--        </form>-->
<!--    </div>-->
    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © mybolg.com - 底部固定区域
    </div>
</div>
<script th:inline="javascript">
    layui.use(['element'], function(){
        var element = layui.element;
    })
        layui.use(['element','table','form','layer','laydate'], function(){
            var table = layui.table,
                form=layui.form,
                layer=layui.layer,
                laydate=layui.laydate;
            laydate.render({
                elem: '#date'
            });
            laydate.render({
                elem: '#date1'
            });
            table.render({
                elem: '#layui_table_id'
                ,height: 490
                ,limit:10
                ,toolbar: '#toolbarDemo'
                ,id: 'testReload'
                ,url: 'table_Data'
                ,page: {
                    layout: [ 'count', 'prev', 'page', 'next', 'skip']
                }
                ,cols: [[
                    {type:'checkbox',fixed: 'left'}
                    ,{field: 'e_id', title: 'ID', width:80, sort: true, fixed: 'left'}
                    ,{field: 'e_name', title: '用户名', width:80}
                    ,{field: 'e_time', title: '时间', width:180, sort: true}
                    ,{field: 'e_tit', title: '标题', width:130}
                    ,{field: 'e_img', title: '图片', width:200}
                    // ,{field: 'e_type', title: '类型', width:177, sort: true}
                    ,{field: 'e_type', title: '类型', width: 100, sort: true}
                    ,{fixed: 'right', width:178,title:'操作' , align:'center', toolbar: '#barDemo'}
                ]]
            });
            table.on('toolbar(test)', function(obj){
                var checkStatus = table.checkStatus(obj.config.id);
                if(obj.event==='getCheckData'){
                    layer.confirm('真的删除选中么', function(index){
                        console.log(checkStatus.data)
                        layer.close(index);
                    });
                }else if(obj.event==='getCheckLength'){
                    form.on('submit(demo2)',function (data) {

                    })
                }
            });
            table.on('tool(test)', function(obj){
                var data = obj.data;
                if(obj.event === 'del'){
                    console.log(JSON.stringify(data))
                    layer.confirm('真的删除行么', function(index){
                        $.ajax({
                            type:"post",
                            url:"",

                        })
                        obj.del();
                        layer.close(index);
                    });
                } else if(obj.event === 'edit'){
                    // layer.alert('编辑行：<br>'+ JSON.stringify(data))

                }
            });
            var $ = layui.$, active = {
                reload: function(){
                    var demoReload = $('#demoReload');
                    //执行重载
                    table.reload('testReload', {
                        page: {
                            curr: 1 //重新从第 1 页开始
                        }
                        ,where: {
                            key: {
                                id: demoReload.val()
                            },
                            key:{
                              name:demoReload.val()
                            }
                        }
                }, 'data');
    }
    };
    $('.demoTable .layui-btn').on('click', function(){
        var type = $(this).data('type');
        active[type] ? active[type].call(this) : '';
    });
        });
</script>
</body>
</html>