<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>后端管理系统</title>
    <link rel="stylesheet" th:href="@{blog/layui/css/layui.css}" />
    <script type="text/javascript" th:src="@{blog/MySign_in/js/jquery-3.1.1.js}"></script>
    <script type="text/javascript" th:src="@{blog/layui/layui.js}"></script>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">博客后台管理系统</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="">博客后台</a></li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;" th:text=" ${session.m_user}">
                    <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">基本资料</a></dd>
                    <dd><a href="">安全设置</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="quit_manager">退了</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree"  lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">文章管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">删除文章</a></dd>
                        <dd><a href="javascript:;">增加文章</a></dd>
                        <dd><a href="javascript:;">更改文章</a></dd>
                        <dd><a href="javascript:;">查询文章</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">用户信息</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">更改用户权限</a></dd>
                        <dd><a href="javascript:;">查询用户信息</a></dd>
                        <dd><a href="javascript:;">删除用户信息</a></dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>

    <div class="layui-body">
        <table class="layui-table" id="layui_table_id" lay-filter="test">
        </table>
        <div id="laypage"></div>
    </div>
    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © layui.com - 底部固定区域
    </div>
</div>
<script th:inline="javascript">
    layui.use(['element'], function(){
        var element = layui.element;
    })
    var limitcountto=5;
    var curnum=1;
    function productsearch(start,limitsize){
        layui.use(['element','table','laypage'], function(){
            var table = layui.table,
                laypage = layui.laypage ;
            table.render({
                elem: '#layui_table_id'
                ,height: 312
                ,limit:limitsize
                ,page:start
                ,url: 'table_Data'
                ,page: false
                ,cols: [[
                    {field: 'e_id', title: 'ID', width:80, sort: true, fixed: 'left'}
                    ,{field: 'e_name', title: '用户名', width:80}
                    ,{field: 'e_time', title: '时间', width:80, sort: true}
                    ,{field: 'e_tit', title: '标题', width:80}
                    ,{field: 'e_img', title: '图片', width:177}
                    // ,{field: 'e_type', title: '类型', width: 80, sort: true}
                ]]
                ,done:function (res, curr, count) {
                    console.log(222)
                    laypage.render({
                        elem:'laypage',
                        count:count,
                        curr:curnum,
                        limit:limitcountto,
                        layout:['prev', 'page', 'next', 'skip','count'],
                        jump:function (obj) {
                            console.log(111)
                                curnum = obj.curr;
                                limitcountto = obj.limit;
                                productsearch(curnum,limitcountto);
                        }
                    })
                }
            });
            table.on('tool(test)', function(obj){ //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
                var data = obj.data //获得当前行数据
                    ,layEvent = obj.event; //获得 lay-event 对应的值
                if(layEvent === 'detail'){
                    viewLableInfo(data.attrId);
                    layer.msg(data.attrId);
                } else if(layEvent === 'del'){
                    layer.msg('删除');
                } else if(layEvent === 'edit'){
                    layer.msg('编辑操作');
                }
            });
        });
    }
    productsearch(curnum,limitcountto);
</script>
</body>
</html>