<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.Essay_Usermapper">
    <insert id="setEssayAll" useGeneratedKeys="true" keyProperty="e_id" >
        insert into essay(e_name, e_time, e_html, e_tit, e_img, e_txt, e_type) values (#{e_name},#{e_time},#{e_html},#{e_tit},#{e_img},#{e_txt },#{e_type})
    </insert>
    <select id="getAllEssayLimit" resultType="com.pojo.Essay">
        select * from essay
        <where>
            <if test="e_id!=null">
                e_id=#{e_id}
            </if>
        </where>
    </select>
    <delete id="delEssayAll" parameterType="java.util.List">
        delete from essay where e_id in
        <foreach collection="list" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>
</mapper>